<template>
  <body>
    
    <div class="article-list">
      <h1>Publicaciones Científicas</h1>
      <br>
      <div class="articles">
        <div v-for="article in articles" :key="article.id" class="article">
          <h2>{{ article.title }}</h2>
          <p>{{ article.author }}</p>
          <p>{{ article.date }}</p>
          <a :href="article.document" target="_blank">Ver Documento</a>
        </div>
      </div>
    </div>
  </body>
  </template>
  
  <script>
  export default {
    name: "HelloWorld",
    data() {
      return {
        articles: [
          {
            id: 1,
            title: "Título del artículo 1",
            author: "Autor del artículo 1",
            date: "Fecha del artículo 1",
            document: "",
          },
          {
            id: 2,
            title: "Título del artículo 2",
            author: "Autor del artículo 2",
            date: "Fecha del artículo 2",
            document: "",
          },
          {
            id: 3,
            title: "Título del artículo 3",
            author: "Autor del artículo 3",
            date: "Fecha del artículo 3",
            document: "",
          },
          {
            id: 4,
            title: "Título del artículo 4",
            author: "Autor del artículo 4",
            date: "Fecha del artículo 4",
            document: "",
          },
          {
            id: 5,
            title: "Título del artículo 5",
            author: "Autor del artículo 5",
            date: "Fecha del artículo 5",
            document: "",
          },
          {
            id: 6,
            title: "Título del artículo 6",
            author: "Autor del artículo 6",
            date: "Fecha del artículo 6",
            document: "",
          },
          {
            id: 7,
            title: "Título del artículo 7",
            author: "Autor del artículo 7",
            date: "Fecha del artículo 7",
            document: "",
          },
          {
            id: 8,
            title: "Título del artículo 8",
            author: "Autor del artículo 8",
            date: "Fecha del artículo 8",
            document: "",
          },
          // Agrega más objetos de artículo según tus necesidades
        ],
      };
    },
  };
  </script>
  
  <style scoped>
  .article-list {
    margin: 20px;
  }
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.936);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}
  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .article {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 5px;
  }
  
  a {
    display: block;
    margin-top: 10px;
  }
  </style>
  