<template>
     <body>
      <br>
      <br>
     <main class="body">
      <div class="formulario">
        <form
          id="contacto"
          action=""
          method="POST">
          <h1 class="formulario__titulo">Contáctenos</h1>
          <p class="warning" id="warning"></p>

          <input id="name" name="name" type="text" class="formulario__input" />
          <label for="name" class="formulario__label">Nombres</label>

          <input id="email" name="email" type="text" class="formulario__input" />
          <label for="email" class="formulario__label">Correo</label>

          <input id="tel" name="tel" type="text" class="formulario__input" />
          <label for="tel" class="formulario__label">Teléfono</label>

          <textarea
            class="special-textarea"
            name="content"
            id="mesage"
            cols="30"
            rows="5"
          ></textarea>
          <label for="mesage" class="formulario__label special-label">Mensaje</label>
          <button type="submit" class="formulario__submit" onclick="send()">Enviar</button>
        </form>
      </div>
    </main>
  </body>
    </template>
    <script>
    export default {
        name: "HelloWorld",
        props: {
            msg: String,
        },
    }
    </script>
    <style scoped>
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  a,
  li {
    text-decoration: none;
    list-style: none;
    color: black;
  }
  header {
    width: 100%;
    height: 60px;
    background: #e79595;
    background: linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664)), url(../assets/imag.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  :root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
  }
 
  .body {
    margin: 0px;
    background-color:var(--secondarycolor)
  }
  .formulario {
    width: 80%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.9);
    background-color: #e6e6e6c7;
    border-radius: 18px;
    margin-bottom: 50px;
  }
  .formulario__titulo {
    text-align: center;
    text-transform: uppercase;
  }
  .formulario__input,
  .formulario__submit,
  .special-textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: var(--primarytext);
    border-radius: 10px;
    outline: none;
  }
  .formulario__input,
  .special-textarea {
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    color: var(--thirdcolor);
  }
  .special-textarea {
    margin-bottom: 20px;
    resize: none;
  }
  .formulario__input:focus,
  .special-textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.7);
  }
  .formulario__input:focus + .formulario__label {
    margin-top: -110px;
  }
  .special-textarea:focus + .special-label {
    margin-top: -180px;
  }
  
  .formulario__label {
    display: block;
    padding: 0 10px;
    position: absolute;
    margin-top: -75px;
    transition: all 0.2s;
    color: var(--thirdcolor);
    font-weight: bold;
  }
  .special-label {
    margin-top: -145px;
  }
  .formulario__submit {
    background: var(--primarycolor);
    padding: 10px 20px;
    border: 1px solid var(--thirdcolor);
    transition: all 0.5s ease;
    cursor: pointer;
    color: var(--secondarycolor);
  }
  .formulario__submit:hover {
    background: var(--thirdcolor);
    color: #fff;
  }
  
  .fijar {
    margin-top: -110px;
    padding: 0;
  }
  .fijar-special {
    margin-top: -180px;
    padding: 0;
  }
  
  .warning {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 15px;
  }
  
    </style>
    