<template>
     <body>
    <header>
    <div class="header-div">
        <input
            type="text"
            placeholder="Busca un articulo"
            class="header-div-input"
            />
        <div class="header-div-icon">
            <i class="icon ion-md-search"></i>
        </div>
    </div>
    <div class="wave" style="height: 50px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>
<!-- Fin de la cabecera -->
    <!--fin de la cabecera-->
      <main class="body">
        <div class="body-div-img">
          <img src="../assets/Study.gif" alt=""/>
          </div>
        <div class="body-title">
          <h1></h1>
        </div>
        <div class="body-text">
          <p class="">
            Publicaciones cientifica Facci ayudar a los estudiantes a ingresar a una gestión de publicaciones de la FACCi, gracias a esto se pueden organizar fácil y rápidamente. Esta página nació el presente año 2023 y quiere ser la web de gestión de documentos científicos con mayor aceptación de parte de los estudiantes, con un fácil acceso y con una gran variedad de recursos a los cuales poder ingresar con facilidad, eficiencia y libertad.
          </p>
            <p>
              Con las publicaciones cientificas Facci tendrás gran variedad de contenido, un directorio por el cual desplazarte y buscar el documento que más se acople a lo que necesitas en el momento, gracias a la más cuidada selección de proveedores y las herramientas online del momento para que puedas organizar ya sea desde tu computador o desde un dispositivo móvil. 
            </p>
        </div>
      </main>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="contactenos.html">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="sobre-nosotros.html">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2023</h2>
</footer>
      
  </body>
 
  </template>
  <script>
  export default {
      name: "HelloWorld",
      props: {
          msg: String,
      },
  }
  </script>
  <style>
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  a,
  li {
    text-decoration: none;
    list-style: none;
    color: black;
  }
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }


header {
    width: 100%;
    height: 50px;
    background: #95e7c5;
 
    background: -webkit-linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
    
    background: linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
   
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.header-div {
    display: flex;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.header-div-input {
    width: 20%;
    border: 0.5px solid white;
    outline: none;
    font-size: 20px;
    padding: 5px 16px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.header-div-input:hover {
    width: 30%;
    background: var(--secondarycolor);
}

.header-div-input:focus {
    width: 30%;
    background: var(--secondarycolor);
}

.header-div-icon {
    position: absolute;
    padding: 5px 15px 0 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
}

.header-div-icon:hover {
    color: white;
}

nav{
    text-align: right;
    padding: 30px 30px 0 0;
    margin-bottom: 10px;
}

.container-name{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.user-name{
    max-width: 25%;
    padding: 15px;
    color: var(--thirdcolor);
    border-bottom: 5px solid var(--thirdcolor);
    margin-left: 40px;
    font-weight: 550;
}

.nav-aa{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.nav-aa:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:400px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    .nav-aa{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
}

  :root {
    --primarycolor: #9cb800;
    --secondarycolor: #add400;
    --thirdcolor: #b19c58;
    --fourthcolor: #9dff00;
    --primarytext: "Montserrat", sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
  }
 
  .body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body-div-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-div-img img {
    width: 80%;
    min-width: 500px;
    height: 400px;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 0px 100px 700px rgb(177, 164, 90);
  }
  .body-title {
    font-family: var(--secondtext);
    font-size: 120px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    color: var(--thirdcolor);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .body-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 100px 0 0;
  }
  .body-text p {
    margin: 10px 10px 30px;
    text-align: center;
    z-index: 2;
  }
  @media screen and (max-width: 480px) {
    .body-div-img img {
      min-width: 200px;
      height: 200px;
      min-height: 200px;
    }
    .body-title {
      font-size: 50px;
      top: 130px;
    }
    .body-text {
      padding: 25px 0 0;
    }
  }
  
  </style>